<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="main w-full min-h-screen bg-zinc-900 px-16 pt-20 flex flex-col gap-10 items-center">
        <h1 class="text-3xl text-blue-400 font-bold">Dashboard</h1>
        <div class="w-full h-[1px] bg-zinc-100 rounded-md"></div>

        <div class="w-full h-full grid grid-cols-3 items-center pb-10">

            <!-- profile  -->

            <div class="users flex flex-col justify-start items-center flex-wrap gap-4 min-h-full w-full pl-4 col-span-1">

                <h2 class="text-3xl text-blue-400 font-bold">User Profile</h2>
                <div class="user h-full w-1/2 min-w-64 bg-zinc-800 rounded-md p-4 flex flex-col justify-between">
                    <div class="w-full h-full">
                        <div class="w-full h-52 bg-zinc-700 rounded-md overflow-hidden">
                            <img class="w-full h-full object-cover"
                                src="https://img.freepik.com/premium-vector/traveler-man-character-illustration-with-backpack_493925-764.jpg?w=360"
                                alt="">
                        </div>
                        <div class="pt-4">
                            <h3 class="text-sm text-blue-500 font-medium">
                                @<%= user.username%>
                            </h3>
                            <h2 class="text-xl text-white font-bold">
                                <%= user.name%>
                            </h2>
                            <h3 class="text-sm text-zinc-500 font-medium">
                                <%= user.email%>
                            </h3>
                        </div>
                    </div>
                    <div class="w-full flex flex-wrap flex-col gap-2 mt-4">
                        <a class="w-full" href="/profile/<%=user._id%>/createPost">
                            <button class="bg-green-400 w-full rounded-lg p-2 px-8 text-black">
                                Create Post
                            </button>
                        </a>
                        <a class="w-full" href="/logout">
                            <button class="bg-red-400 w-full rounded-lg p-2 px-8 text-black">
                                Log out
                            </button>
                        </a>
                    </div>
                </div>


            </div>

            <!-- posts -->



            <div class="posts flex flex-col justify-start items-center flex-wrap gap-4 min-h-full w-full pl-4 col-span-2">


                <h2 class="text-3xl text-blue-400 font-bold">Your Recent Posts</h2>



                <!-- single post  -->

                <% if (user.posts.length===0){ %>

                    <div class="bg-zinc-800 p-4 m-auto rounded-md max-w-[400px] flex flex-col gap-2">
                        <h2 class="text-white text-3xl block-inline">Nothing available!! </h2>
                        <a href="/profile/<%=user._id%>/createPost">
                            <p class="text-blue-400 block-inline">Create your first Post</p>

                        </a>
                    </div>

                    <% } else { %>

                        <% user.posts.reverse().forEach((post)=>{ %>

                            <div class="w-full">

                                <div class="user h-full w-full min-w-64 bg-zinc-800 rounded-md p-4 gap-2 flex flex-col justify-between">

                                    <h3 class="text-white">Posted by <span class="text-blue-400 font-bold">
                                            <%=user.username%>
                                        </span> on <small class="text-white italic text-zinc-400">
                                            <%=post.toIST()%>
                                        </small></h3>
                                    <h4 class="text-2xl text-white font-bold">
                                        <%=post.title%>
                                    </h4>
                                    <p class="text-white ">
                                        <%=post.content%>
                                    </p>
                                    <p class="text-yellow-400 font-bold">
                                        <%=post.likes.length%> likes
                                    </p>
                                    <div class="flex gap-4">
                                        <a class="block-inline text-blue-400 font-bold" href="/like/<%=post._id%>">
                                            <%= post.likes.indexOf(user._id)===-1 ? "Like" : "Unlike" %>
                                        </a>
                                        <a class="block-inline text-zinc-400 font-bold" href="/edit/<%=post._id%>">
                                            Edit
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <% }) %>

                                <% } %>



                                    <!-- view all posts  -->
                                    <a class="" href="/posts">
                                        <button class="bg-yellow-400 w-full rounded-lg p-2 px-8 text-black">
                                            View all posts
                                        </button>
                                    </a>

            </div>

        </div>


    </div>




</body>

</html>